<section class="section is-benefits">
  <!-- add new svg -->
  <div class="container is-benefits">
    <h2 class="heading-medium heading-benefits">
      Capture Every Moment with Our Tailored Wedding Photography Packages
    </h2>
    <div>
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./src/images/sprite.svg#icon-benefits-1"></use>
          </svg>
          <h2 class="text-large-semi-bold benefits-item-heading">
            Your Perfect Story: A Package Tailored for You.
          </h2>
          <p class="text-regular-normal">
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./src/images/sprite.svg#icon-benefits-2"></use>
          </svg>
          <h2 class="text-large-semi-bold benefits-item-heading">
            From Dawn to Stars: Your Full Day in Frame.
          </h2>
          <p class="text-regular-normal">
            Capture every emotion, from the morning preparations to the grand
            finale of your wedding celebration.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./src/images/sprite.svg#icon-benefits-3"></use>
          </svg>
          <h2 class="text-large-semi-bold benefits-item-heading">
            Precious Moments: Capturing Your Key Events.
          </h2>
          <p class="text-regular-normal">
            Perfect for preserving the most important moments of your intimate
            ceremony or smaller celebration.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
