<section class="contacts-section" id="contact">
  <div class="container contacts-container">
    <div class="contacts-info">
      <div class="contacts-decor-wrap">
        <svg class="contacts-decor" aria-hidden="true">
          <use href="../images/sprite.svg#icon-decor"></use>
        </svg>
      </div>

      <h2 class="heading-large">Let's Tell Your Story</h2>

      <p class="contacts-description">
        I can't wait to hear more about your wedding! Tell me about your plans,
        and I'll be in touch to discuss how we can create magic together.
      </p>

      <ul class="contacts-details">
        <li class="contacts-item">
          <svg class="contacts-icon" aria-hidden="true" width="18" height="18">
            <use href="../images/sprite.svg#icon-mail"></use>
          </svg>
          <a class="text-regular-normal" href="mailto:info@mariakovalenko.com">info@mariakovalenko.com</a>
         </li>
        
        <li class="contacts-item">
          <svg class="contacts-icon" aria-hidden="true" width="18" height="18">
            <use href="../images/sprite.svg#icon-call"></use>
          </svg>
          <a class="text-regular-normal" href="tel:+405551234567">+40 (555) 123-4567</a>
        </li>

        <li class="contacts-item">
          <svg class="contacts-icon" aria-hidden="true" width="18" height="18">
            <use href="../images/sprite.svg#icon-location_on"></use>
          </svg>
          <a class="text-regular-medium contacts-link-address"
          href="https://www.google.com/maps/search/?api=1&query=Raschdorffstraße+2-26,+13409+Berlin,+Germany"
          target="_blank"
          rel="noopener noreferrer">Raschdorffstraße 2-26, 13409 Berlin, Germany</a>
        </li>
      </ul>
    </div>

    <form class="contacts-form">
      <div class="contacts-field">
        <label class="text-regular-medium" for="name">Name*</label>
        <input
          class="contacts-input"
          type="text"
          id="name"
          name="name"
          placeholder="Maria"
          required
        />
      </div>

      <div class="contacts-field">
        <label class="text-regular-medium" for="phone">Phone*</label>
        <input
          class="contacts-input"
          type="tel"
          id="phone"
          name="phone"
          placeholder="+1 (202) 111 2323"
          required
        />
      </div>

      <div class="contacts-field">
        <label class="text-regular-medium" for="message">Message</label>
        <textarea
          class="contacts-textarea"
          id="message"
          name="message"
          placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
        ></textarea>
      </div>

      <button class="button" type="submit">Let's Talk</button>
    </form>
  </div>
</section>

<div class="success-backdrop is-hidden">
  <div class="success-modal">
    <button
      class="success-modal-close"
      type="button"
      aria-label="Close success modal"
    >
      <svg class="success-modal-close-icon" width="24" height="24">
        <use href="../images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="success-modal-title">
      Thank You for Your<br />
      Inquiry!
    </h2>

    <picture>
  <source
    media="(min-width: 1280px)"
    srcset="
      ../images/images/success_modal/desktop_success-modal.avif 1x,
      ../images/images/success_modal/desktop_success-modal@2x.avif 2x
    "
  />

  <source
    media="(min-width: 768px)"
    srcset="
      ../images/images/success_modal/tablet_success-modal.avif 1x,
      ../images/images/success_modal/tablet_success-modal@2x.avif 2x
    "
  />

  <img
    class="success-modal-image"
    src="../images/images/success_modal/mobile_success-modal.avif"
    srcset="
      ../images/images/success_modal/mobile_success-modal@2x.avif 2x
    "
    alt="Wedding stationery and photographs"
  />
</picture>

    <p class="success-modal-text">
      I have received your message and I'm so excited about your interest!
      I will get in touch with you within 24-48 hours to discuss the details
      of your wedding day. In the meantime, feel free to browse my portfolio
      or follow me on Instagram for more inspiration.
    </p>
  </div>
</div>