<section id="feedbacks" class="feedbacks">
  <div class="container feedbacks-container">
    
    <svg class="decoration" width="300" height="20" aria-hidden="true">
      <use href="./images/sprite.svg#icon-decoration"></use>
    </svg>

    <div class="feedbacks-inner">
      <h2 class="heading-large feedbacks-title">Words from Our Wonderful Couples</h2>
      <p class="text-regular-normal feedbacks-subtitle">
        Read what the couples who entrusted us with their most precious memories have to say.
      </p>
    </div>

    <div class="swiper feedbacks-slider">
      <ul class="swiper-wrapper">
        
        <li class="swiper-slide feedback-item">
          <p class="text-regular-normal feedback-quote-text">
            "Maria is a true professional! She managed to capture every single emotion of our wedding day. Looking through the photos, we get to relive that special day all over again. Thank you for the incredible memories!"
          </p>
          <p class="text-regular-semi-bold feedback-author">Olena & David</p>
        </li>

        <li class="swiper-slide feedback-item">
          <p class="text-regular-normal feedback-quote-text">
            "We are so happy we chose Maria as our wedding photographer. Her personal approach and ability to see beauty in the details turned our photos into a true work of art. We recommend her to everyone!
          </p>
          <p class="text-regular-medium feedback-author">Julia & Mark</p>
        </li>
        
        <li class="swiper-slide feedback-item">
          <p class="text-regular-normal feedback-quote-text">
            "The photoshoot with Maria was so easy and relaxed. She knows how to create a comfortable atmosphere, which made the photos come out incredibly lively and emotional. We are absolutely thrilled with the result!"
          </p>
          <p class="text-regular-semi-bold feedback-author">Anna & Tom</p>
        </li>

      </ul>

      <div class="feedbacks-slider-bottom">
        <!-- блок для майбутнього JS -->
        <div class="swiper-pagination-custom">
          <span class="feedbacks-slider-span"></span>
          <span class="feedbacks-slider-span"></span>
          <span class="feedbacks-slider-span"></span>
        </div>
        
        <div class="swiper-navigation">
          <button type="button" class="swiper-button-prev-custom slider-btn" aria-label="Previous slide">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./images/sprite.svg#icon-arrow-back"></use>
            </svg>
          </button>
          
          <button type="button" class="swiper-button-next-custom slider-btn" aria-label="Next slide">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./images/sprite.svg#icon-arrow-back"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>