<footer class="footer">
  <div class="container">
    <div class="container-footer-wrap">
      <div class="logo-copyright-wrap">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <svg class="nav-logo-icon" width="206" height="180">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="copyright-text text-regular-small">
          © 2025 Maria Kovalenko Photography. All rights reserved.
        </p>
      </div>

      <div class="nav-soc-wrap">
        <nav class="nav">
          <p class="text-regular-semi-bold">Menu</p>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="text-regular-normal" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="text-regular-normal" href="#about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="text-regular-normal" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="text-regular-normal" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="text-regular-normal" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
        <div class="soc-list-wrap">
          <p class="text-regular-semi-bold">Follow Me</p>
          <ul class="soc-list">
            <li class="soc-item">
              <a
                class="text-regular-small"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg class="soc-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-fb"></use>
                </svg>
                Facebook</a
              >
            </li>
            <li class="soc-item">
              <a
                class="text-regular-small"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg class="soc-icon" width="19" height="19">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
                Instagram</a
              >
            </li>
            <li class="soc-item">
              <a
                class="text-regular-small"
                href="https://www.x.com/"
                target="_blank"
              >
                <svg class="soc-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
                X</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
