<!-- Add to header .menu-open to open mobile-menu. -->

<header class="header">
  <div class="header-container">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <svg class="nav-logo-icon" width="70" height="61">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="nav-btn-wrap">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link text-regular-normal active-link" href="#"
              >About Me</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-regular-normal active-link" href="#"
              >Benefits</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-regular-normal active-link" href="#"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-regular-normal active-link" href="#">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header-book-btn button text-regular-medium"
        >Book a Session</a
      >
    </div>
    <!-- Open/Close mobile navigation menu button -->
    <button
      class="open-menu-btn"
      type="button"
      aria-label="Open navigation menu"
    >
      <svg class="open-menu-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
      <svg class="close-menu-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-add"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile navigation menu -->

<div class="mobile-menu">
  <nav class="mobile-nav">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a
          href="#about"
          class="mobile-menu-link text-regular-normal active-link"
          >About Me</a
        >
      </li>
      <li class="mobile-menu-item">
        <a
          href="#benefits"
          class="mobile-menu-link text-regular-normal active-link"
          >Benefits</a
        >
      </li>
      <li class="mobile-menu-item">
        <a
          href="#portfolio"
          class="mobile-menu-link text-regular-normal active-link"
          >Portfolio</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="#faq" class="mobile-menu-link text-regular-normal" active-link
          >FAQ</a
        >
      </li>
    </ul>
  </nav>

  <a href="#contacts" class="button text-regular-medium">Book a Session</a>
</div>
