<section class="section is-hero">
  <div class="container is-hero">
    <div class="wrapper is-hero">
      <div class="text-wrapper">
        <h2 class="heading-main is-hero">
          Capture Your Love Story with Timeless Photography
        </h2>
        <p class="is-hero">
          At Maria Kovalenko Photography, we specialize in capturing the genuine
          emotions of your special day. Let us turn your unforgettable moments
          into stunning memories that last a lifetime.
        </p>
      </div>
      <a href="#contacts" class="button is-hero">Book a session</a>
    </div>
  </div>
</section>
