<section class="section is-portfolio">
  <div class="container is-portfolio">
    <div class="portfolio-section-heading">
      <svg class="icon">
        <use href="../images/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="heading-large">Portfolio Highlights</h2>
    </div>

    <ul class="portfolio-img-filters-list">
      <li class="img-filters-item">
        <button type="button" class="portfolio-filters-btn active text-regular-normal">
          All Photos
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Candid Moments
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Portrait Perfection
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Ceremony & Vows
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Joyful Celebrations
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Standart
        </button>
      </li>
      <li class="img-filters-item text-regular-normal">
        <button type="button" class="portfolio-filters-btn text-regular-normal">
          Attention to Detail
        </button>
      </li>
    </ul>
    <ul class="portfolio-gallery"></ul>
    <button class="portfolio-btn-show-more text-regular-medium">
      Show More
    </button>
  </div>
</section>
