.faq-heading {
  text-align: center;
  margin-bottom: 24px;
}

.faq-text {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .faq-text {
    margin-bottom: 80px;
  }
}

.faq-item {
  border: 2px solid var(--default-black);
  border-radius: 24px;
  margin-bottom: 16px;
  background-color: var(--foreground-1);
  overflow: hidden;
  transition: box-shadow var(--anim);
  padding: 0;
}

@media screen and (min-width: 768px) {
  .faq-item {
    max-width: 704px;
    margin: 0 auto 16px auto;
    padding: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-item {
    max-width: 768px;
  }
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .faq-question {
    padding: 24px;
  }
}

.faq-icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  flex-shrink: 0;
  fill: var(--default-black);
  transition: transform var(--anim);
}

.faq-question[aria-expanded='true'] .faq-icon {
  transform: rotate(45deg);
}

.faq-answer {
  background-color: var(--foreground-1);
}

.faq-answer p {
  margin: 0;
  padding: 24px 20px;
  color: var(--default-black);
  text-align: left;
}
@media screen and (min-width: 768px) {
  .faq-answer p {
    padding: 24px;
  }
}
