.is-feedback {
  text-align: center;
}

.decoration {
  display: block;
  margin: 0 auto 24px auto;
  width: 300px;
  height: 20px;
  max-width: 100%;
  fill: var(--default-black);
}

.feedbacks-title {
  margin-bottom: 24px;
}

.feedbacks-subtitle {
  max-width: 335px;
  margin: 0 auto 24px auto;
}

@media (min-width: 768px) {
  .feedbacks-subtitle {
    max-width: 550px;
    margin: 0 auto 40px auto;
  }
}

@media (min-width: 1440px) {
  .feedbacks-subtitle {
    max-width: 1312px;
    width: 100%;
  }
}

.feedbacks-slider .swiper-wrapper {
  margin-bottom: 32px;
}

.swiper-slide.feedback-item {
  text-align: left;
  padding: 32px;
  background-color: var(--foreground-1);
  border: 2px solid var(--default-black);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.swiper-slide.feedback-item p:first-child {
  flex-grow: 1;
  margin-bottom: 24px;
}

.swiper-slide.feedback-item p:last-child {
  margin: 0;
}

.feedbacks-slider-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-navigation {
  display: flex;
  gap: 16px;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid var(--default-black);
  border-radius: 4px;
  background-color: var(--transparent);
  color: var(--default-black);
  cursor: pointer;
  transition:
    background-color var(--anim),
    border-color var(--anim),
    transform var(--anim),
    color var(--anim);
}

.slider-btn svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.5px;
}

.swiper-button-prev-custom svg {
  transform: scaleX(-1);
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: var(--active-mustard);
}

.slider-btn:active {
  background-color: var(--foreground-1);
}

.slider-btn:disabled,
.slider-btn.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  /* pointer-events: none; */
  background-color: var(--transparent);
  border-color: var(--opacity-15);
  color: var(--opacity-15);
}

.is-feedback .feedbacks-slider-bottom .swiper-pagination-custom {
  display: flex;
  gap: 8px;
  align-items: center;
  width: auto;
  margin: 0;
}

.is-feedback
  .feedbacks-slider-bottom
  .swiper-pagination-custom
  .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  background-color: var(--default-black);
  opacity: 0.15;
  border-radius: 50%;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    opacity 0.3s ease,
    background-color 0.3s ease;
}
.is-feedback
  .feedbacks-slider-bottom
  .swiper-pagination-custom
  .swiper-pagination-bullet:last-child:not(.swiper-pagination-bullet-active) {
  width: 6px;
  height: 6px;
}

.is-feedback
  .feedbacks-slider-bottom
  .swiper-pagination-custom
  .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  opacity: 1;
}
