.is-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.is-portfolio h2 {
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 1440px) {
  .portfolio-section-heading h2 {
    white-space: nowrap;
  }
}

.portfolio-img-filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  margin-bottom: 32px;
}

@media (min-width: 1440px) {
  .portfolio-img-filters-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.portfolio-filters-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding-block: 10px;
  padding-inline: 16px;
  width: 158px;
  height: 44px;
  white-space: nowrap;
}

.portfolio-filters-btn .show-more-hidden {
  display: none;
}

.portfolio-filters-btn.active {
  border: 2px solid var(--default-black);
  border-radius: 4px;
  padding-block: 10px;
  padding-inline: 16px;

  background-color: var(--foreground-2);
}

.portfolio-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .portfolio-gallery {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 24px;
  }
}

.gallery-item {
  width: 100%;
}

@media(min-width: 768px) {
  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}

@media(min-width: 1440px) {
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
}

.gallery-img {
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media(min-width: 768px) {
  .gallery-img {
    height: 340px;
    width: 100%;
  }
}

@media (min-width: 1440px){
  .gallery-img{
    height: 421px;
  }
}

.show-more {
  margin: 24px auto 0;
}

.show-more:disabled {
  border: 1px solid var(--default-mustard);
  background-color: var(--default-mustard);
  opacity: 0.4;
  color: var(--default-blac);
  cursor: default;
}

@media (min-width: 768px) {
  .show-more {
    max-width: 310px;
  }
}